.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    width: 90%;
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .footer {
        display: flex;
        text-align: center; 
    }

    .footer p {
        font-size: 14px; 
    }

    .footer ul {
        margin-top: 10px;
        padding: 0; 
    }

    .footer ul li {
        font-size: 12px; 
    }
}

@media (max-width: 480px) {
    .footer{
        display: flex;
        text-align: center;
    }

    .footer p{
        font-size: 8px;
    }

    .footer ul li{
        margin: 10px;
        font-size: 8px;
    }
}